
  <footer>
    <div class = "container">
      <div class="footer-main">
        <div class="footer-column">
          <h3 class="footer-heading">Legal</h3>
          <p><a href="/termsAndConditions"  style = "text-decoration: underline">Terms and Conditions</a></p>
        </div>
        <div id = "footerDissapearFirst"class="footer-column">

          <h3 class="footer-heading">Contact Us</h3>
          <p>Reach out to us at <a  style = "text-decoration: underline" href="mailto:StoaExchange@gmail.com" target = "_blank" class="footer-link">StoaExchange@gmail.com</a></p>
        </div>
          <div class="footer-column">
          <h3 class="footer-heading">Pages</h3>
          <a href="/" class="footer-link">Home</a><br>
            <a href="/briefExchange" class="footer-link">Brief Exchange</a><br>
            <a href="/practiceRounds" class="footer-link">Practice Rounds</a><br>
        </div>
      </div>
      <div class="footer-bottom">
        <span class="copyright">&copy; StoaExchange 2022</span>
      </div>
    </div>
   
 </footer>

 <style>
    footer{
      background: white;
      color: black !important;
      box-shadow: 0 -3px 4px rgb(0 0 0 / 6%);
     position: relative;
      z-index: 10;
      text-align: center;
      line-height: 30px;
    }
    .footer-heading{
      color: black !important;
    }
    footer a{
      color: black;
      text-decoration: none;
        font-size: 20px;
      line-height: 40px;
    
    }
    footer h3{
      margin-top: 0;
      padding-top: 50px;
      font-size: 25px;
    }
    footer p{
      font-size: 20px;
    }
    footer .container{
      max-width: 1200px;
      margin: 0 auto;
    }
    .footer-main{
      display: flex;
     margin-bottom: 5px; 
    }
    .footer-bottom{
      padding-bottom: 50px;
      padding-top: 50px;
        font-size: 20px;
    
    }
    .footer-column{
      flex-basis: 50%;
    }
    
     
  @media screen and (max-width: 485px) {
    #footerDissapearFirst{
      display: none;
    }
  }
    
    </style>


