<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/404.css" rel="stylesheet" type="text/css" />
    <script src = "/js/script.js"></script>

  <title>StoaExchange</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
<%if(doneContacting){%>
  <section id = "body" >
 
    <h3>Your offer has been sent. Click <a href="/">here</a> to return to the homepage.</h3>
    </section>
  <%}else{%>
    <section id = "body" >
 


      <h3>Your account has been deleted. Click <a href="/">here</a> to return to the homepage.</h3>
      </section>
    <%}%>
  
<%- include('partials/footer.ejs') %>

</body>
</html>
<style>h2{font-size: 30px; padding-bottom: 30px !important;} h3{padding-bottom: 0px; text-align: center; font-size: 30px;} #body h3 a{color: black;}
#body{padding-bottom: 100px; padding-top: 100px;}</style>