<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <link rel="stylesheet" href="/css/editAccountInformation.css">
  <script src="https://kit.fontawesome.com/d61eecf5e3.js" crossorigin="anonymous"></script>
  <script src = "/js/script.js"></script>
  <link rel="icon" type="image/x-icon" href="https://i.imgur.com/cczltUx.png">

  <title>Delete account</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>

  <section id = "body">
    <div class="largerContainer">
      <div class = "smallerContainer">
                                            <h1>Delete Account</h1>

                                                                <form action="/api/deleteAccount" method = "POST" id = "deleteForm">
<label class="container">I, <%=authName%>, recognize that I am deleting my StoaExchange account, which will lead to the irreversible deletion of all my account information, brief requests, brief offers, and everything else affiliated with my account.
                                                                        <input name = "tp" type="checkbox" >
                                                                        <span class="checkmark"></span>
                                                                      </label>
            
                          <input  required name="password" type="password" class="feedback-input" placeholder="Password"/>

<%if(!passwordCorrect){%>
                          <h3>Your password is incorrect</h3>
                          <style>h3{text-align: center; color:rgb(255, 89, 89);
                      padding-top: 0px; margin-top: 5px;}</style>
<%}%>

                          <input type="submit" id = "deleteButton" value = "Confirm Account Deletion">    
                                </form>
                                <form action="">
                                    <h4 id = "returnToEdit">Don't want to delete your account? Click <a href="/editAccountInformation">here</a> to return to the page to edit your account information.
                                  </form>
                            
                          
      </div>
    </div>
    
  </section>
  <%- include('partials/footer.ejs') %>
  

</body>

</html>

</html>

  <style>.container{
    font-size: 20px; line-height: 1.5;} .feedback-input{margin-bottom: 0; margin-top: 30px} #deleteButton{margin-top: 31.92px;}.container{margin-bottom: 0} #returnToEdit{text-align: center; font-size: 24px; line-height: 1.5;} #returnToEdit a{ color:black;}</style>

