<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <link rel="stylesheet" href="/css/profile.css">
  <title>Practice Rounds</title>
  <script src = "/js/script.js"></script>
  <link rel="icon" type="image/x-icon" href="https://i.imgur.com/cczltUx.png">

</head>
<body>
    <%- include('partials/nav.ejs') %>

  <section id = "body">
    <div class="largerContainer">
      <div class = "smallerContainer">
<h1 style = "text-align: center;">Practice Rounds</h1>
<hr>
<h2>Unfortunately we're still working on this section of the website. We're hard at work on this page, and will try to complete the beta version within a month.</h2>
      </div>
    </div>
  </section>
  <%- include('partials/footer.ejs') %>


</body>

</html>

</html>

<style>#body li{line-height: 1.5; font-size: 17px;}</style>