<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <link rel="stylesheet" href="/css/profile.css">
  <title>StoaExchange</title>
  <script src = "/js/script.js"></script>

</head>
<body>
    <%- include('partials/nav.ejs') %>

  <section id = "body">
    <div class="largerContainer">
      <div class = "smallerContainer">
<h1 style = "text-align: center;">StoaExchange Terms and Conditions</h1>
<hr>
<h2>Data and privacy</h2>
<ul>
    <li>I understand that StoaExchange reserves the right to share my email with other users who have been contacted by you and would like to receive more information regarding briefs.</li>
</ul>
<hr>
<h2>Brief exchange</h2>
<ul>
    <li>When posting brief offers or requests or contacting a user regarding their brief, I will post relevant information and not create illegitimate or troll posts.</li>
    <li>I will not share briefs that I received in a trade with anyone aside from my current debate partner without the express approval of the original writer of the brief.</li>
    <li>When exchanging briefs, I will not falsely advertise, and will ensure that the brief I upload in exchanges will match its description. This includes but is not limited to the number of arguments, brief length, topic, description, debate format, or writer.</li>
    <li>If I contact someone regarding a brief and I get their contact information, I will only use it for exchanging information regarding the briefs and won’t share it with anyone without the owner’s express approval.</li>
    <li>When rating a brief I will only take into account the quality of the brief, and will rate it honestly.</li>
</ul>
<hr>
<h2>Cybersecurity and spam</h2>
<ul>
    <li>I will refrain from engaging in cybersecurity attacks against StoaExchange or its users, which includes but is not limited to DDoS attacks, phishing scams, or brute force attacks.</li>
    <li>I will refrain from spamming StoaExchange and any of its users.</li>
</ul>

<hr>
<h2>Rule enforcement</h2>
<ul>
    <li>If I witness a violation of the StoaExchange Terms and Conditions, I understand that I have the ability to report the user by emailing <a target="_blank" href ="mailto: StoaExchange@gmail.com">StoaExchange@gmail.com</a>.</li>
    <li>I understand that StoaExchange reserves the right to delete accounts or suspend users for a violation of StoaExchange Terms and Conditions.</li>
</ul>

      </div>
    </div>
  </section>
  <%- include('partials/footer.ejs') %>


</body>

</html>

</html>

<style>#body li{line-height: 1.5; font-size: 17px;}</style>